<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bookstore</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<h1>Booklist</h1>
	
	<table class="table table-striped">
		<tbody>
			<tr>
				<td><h4>Author</h4></td>
				<td><h4>Title</h4></td>
				<td><h4>ISBN</h4></td>
				<td><h4>Year</h4></td>
				<td><h4>Price</h4></td>
				<td><h4>Category</h4></td>
			</tr>
			<tr th:each="book : ${books}">
				<td th:text="${book.author}"></td>
				<td th:text="${book.title}"></td>
				<td th:text="${book.isbn}"></td>
				<td th:text="${book.year}"></td>
				<td th:text="${book.price}"></td>
				<td th:text="${book.category.name}"></td>
				<td><a th:href="@{/delete/{id}(id=${book.id})}" class="btn btn-danger">Delete</a></td>
				<td><a th:href="@{/edit/{id}(id=${book.id})}" class="btn btn-success">Edit</a></td>
			</tr>
		</tbody>
	</table>
	<a href="/add" class="btn btn-success">Add book</a>
</body>
</html>